<a href="https://colab.research.google.com/github/cindy2003/Introduction-to-Computer/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("0606test")

0606

In [7]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
    result += i
  i+=1
print("0～50的奇數和結果是%d" % result)

0～50的奇數和結果是625

In [4]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
    result += i
  i+=1
print("0～50的偶數和結果是%d" % result)

0～50的偶數和結果是650

In [9]:
n=int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [12]:
sum=0
for i in range(0,101):
  if (i%3==0 or i%7==0):
    sum += i
print("數值1～100中,所有是3或7倍數的數之總和=",sum)

數值1～100中,所有是3或7倍數的數之總和= 2208

In [16]:
p=1
counter=0
n=int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while(p<=n):
  if(n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數3
3 的因數有 1 3
3 是質數

In [17]:
list1 = [1,2,3,4,5]

In [18]:
list1

[1, 2, 3, 4, 5]

In [19]:
list2=["香蕉","蘋果","橘子"]

In [20]:
list2

['香蕉', '蘋果', '橘子']

In [24]:
list3=[1,"香蕉",True]

In [25]:
list3

[1, '香蕉', True]

In [26]:
print(list1)

[1, 2, 3, 4, 5]

In [27]:
print(list1[0])

1

In [28]:
print(list1[1])

2

In [29]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [30]:
list4=["香蕉","蘋果","橘子"]

In [31]:
print(list4[1])

蘋果

In [32]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [33]:
print(list4[3])

IndexError: ignored

In [34]:
print(list4[-1])

橘子

In [35]:
print(list4[-2])

蘋果

In [36]:
print(list4[-3])

香蕉

In [37]:
print(list4[-4])

IndexError: ignored

In [38]:
list5=[["tom","1234"]],["marry","abcd"],["david","5678"]

In [39]:
print(list5[1])

['marry', 'abcd']

In [40]:
print(list5[0])

[['tom', '1234']]

In [41]:
print(list5[1][1])

abcd

In [43]:
print(list5[0][0])

['tom', '1234']

In [46]:
print(list5[1][0])

marry

In [64]:
scores=[85,79,93]
print("國文成績: %d分" %scores[0])
print("數學成績: %d分" %scores[1])
print("英文成績: %d分" %scores[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [65]:
list6 =[1,2,3,4,5]

In [66]:
print(list6[0])

1

In [69]:
list6[0]=9

In [70]:
print(list6[0])

9

In [71]:
print(list6)

[9, 2, 3, 4, 5]

In [72]:
list7=["香蕉","蘋果","橘子"]

In [73]:
for s in list7:
  print(s,end= ",")

香蕉,蘋果,橘子,

In [75]:
items=[123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [76]:
scores=[85,79,93]

In [77]:
print(len(scores))

3

In [78]:
scores=[85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [83]:
scores=["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(scores)):
  print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [85]:
a=["編號:1 姓名: Tom","編號:2 姓名: Mary","編號:3 姓名: Tony"]
for i in range(len(a)):
  print(a[i])

編號:1 姓名: Tom
編號:2 姓名: Mary
編號:3 姓名: Tony